app/config.php
app/utilities/vars.php
app/sftp-config.json
**/log.txt
**/*.log
app/_notes/
app/test.php
app/test_db.php
app/test_slot.php
app/test_wheel.php
app/test_*.php
*.rar
*.zip
*.bak
app/composer-setup.php
app/vendor/
app/provider_launch_example.php
