RewriteEngine On

# Evitar tocar archivos reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 🔥 No tocar /app (ya logueado)
RewriteCond %{REQUEST_URI} !^/app/

# Redirigir todo lo demás a control
RewriteRule ^(.*)$ /control/index.php [QSA,L]